/* General body styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Merriweather', serif;
    color: #333;
    background-color: #f9f9f9;
}

main {
    flex: 1 0 auto;
    overflow-y: auto;
}

.header {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
}

.header img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.header h1 {
    margin: 0;
    padding-top: 10px;
    font-size: 24px;
}

nav {
    background-color: navy;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    padding: 20px 10px;
    background-color: navy;
    color: #fff;
}

footer {
    flex-shrink: 0;
    width: 100%;
}

#form {
    margin-top: 20px;
}

input[type="search"], .search-button {
    padding: 10px;
    margin-right: 10px;
}

.search-button {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#lawyerSearchForm {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 30px auto;
}

#lawyerSearchForm label {
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="search"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}

.search-button:hover {
    background-color: darkslateblue;
}

#results {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-height: 300px;
    overflow-y: auto;
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.result-item:last-child {
    border-bottom: none;
}

.result-name {
    font-size: 18px;
    font-weight: bold;
}

.result-detail {
    font-size: 16px;
    color: #666;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.slideshow-text {
    display: none;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px; /* Add space between the texts */
}

.slideshow-text.active {
    display: block;
    animation: fade 2s;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Style for the welcome text */
#welcomeText {
    font-size: 32px;
    font-weight: bold;
    color: navy;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
